body,
html,
#root{
    margin:0;
    padding:0;
}

.searchbox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;

  width: 100%;
  padding: 15px 20px;

  background-color: rgba(241, 238, 238, 0.208);
  border: 2px solid rgba(0, 0, 0, 0.042);
  border-radius: 10px;
}

.searchinput{
  height: 70px;
  line-height: 28px;
  padding: 0 1rem;
  
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: white;
  color: #0d0c22;
  transition: .3s ease;

  font-family: monospace;
  border: 2px solid #1A1A1A;
  width: 280px;
  max-width: 90vw;

  height: 45px;
  padding: 0 1rem;

  margin: 0;

}

.searchinput::placeholder {
  color: #777;
}

.searchinput:hover{
    color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);

}
.searchbtn { appearance: none; background-color: white; border: 2px solid #1A1A1A; border-radius: 15px; box-sizing: border-box; color: #000000; cursor: pointer; display: inline-block; font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 16px; font-weight: 600; line-height: normal; margin: 0; min-height: 20px; margin: 12px; min-width: 90px; outline: none; padding: 5px 10px; text-align: center; text-decoration: none; transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); user-select: none; -webkit-user-select: none; touch-action: manipulation; will-change: transform; }

.searchbtn:disabled {
  pointer-events: none;
}

.searchbtn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.searchbtn:active {
  box-shadow: none;
  transform: translateY(0);
}
.realsearchbtn{
  background-image: url('/assets/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  transition: 0.4s ease;
  border-radius: 10px;
  display: inline-block;
  margin: 12px;
  justify-content: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none; -webkit-user-select: none; touch-action: manipulation; will-change: transform
}
.realsearchbtn:disabled {
  pointer-events: none;
}


.realsearchbtn:active {
  box-shadow: none;
  transform: translateY(0);
}
.loginform{
    width: 50%;
    text-align: center;
   font-family: monospace;
   background-color: white;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
    margin: 100px;
  cursor: pointer;
  display: grid;
    place-items: center;
    margin: 30px;


}
.loginform h3{
    font-family: monospace;
    font-size: 1.6rem;
}
.logincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.backBtn{
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 15px;
}
.backBtn:hover{
    color: rgba(0, 0, 0, 0.633);
}
.googleLogin{
    background-image: url("https://img.icons8.com/m_sharp/512/4D4D4D/google-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    margin: 20px;
    width: 30px;
    height: 30px;
    transition: 0.3s ease;
    cursor: pointer;
}
.googleLogin:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.204);
    background-color: #000000;
    
}

.usernameBtn{
    margin: 0;
  min-width: 120px;
  font-size: 18px;
  appearance: none;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 20px;
  margin: 12px;
  min-width: 150px;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.usernameBtn:hover{
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
}
.check{
    background: none;
    border: 3px solid black;
    

}
.loginform label{
    font-family: monospace;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.622);
    
}
.fileUpload{
    background: none;
   margin-left: 30px;
   padding: 10px;
    
}

/* From Uiverse.io by e-coders */ 
.button {
 position: relative;
 font-family: monospace;
 font-weight: bold;
 overflow: hidden;
 border: 1px solid #18181a;
 border-radius: 10px;
 margin: 15px;
 color: #18181ab9;
 display: inline-block;
 font-size: 15px;
 line-height: 15px;
 padding: 18px 18px 17px;
 width: 100px;
 text-decoration: none;
 cursor: pointer;
 background: #fff;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
}

.button span:first-child {
 position: relative;
 transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
 z-index: 10;
}

.button span:last-child {
 color: white;
 display: block;
 position: absolute;
 bottom: 0;
 transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
 z-index: 100;
 opacity: 0;
 top: 50%;
 left: 50%;
 transform: translateY(225%) translateX(-50%);
 height: 14px;
 line-height: 13px;
}

.button:after {
 content: "";
 position: absolute;
 bottom: -50%;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: black;
 transform-origin: bottom center;
 transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
 transform: skewY(9.3deg) scaleY(0);
 z-index: 50;
}

.button:hover:after {
 transform-origin: bottom center;
 transform: skewY(9.3deg) scaleY(2);
}

.button:hover span:last-child {
 transform: translateX(-50%) translateY(-50%);
 opacity: 1;
 transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.card{
    border: 1px solid black;
    width: 230px;
    height: 430px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 8px;
    margin: 12px;

    font-family: monospace;
    transition: 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;
}

.card img{
    width: 200px;
    height: 300px;
    object-fit: cover;

    
    transition: 0.3s ease;

    display: block;
    margin: 0 auto;
    flex-shrink: 0;
}

.card h1{
    font-size: 0.5rem;
    margin: 6px 0;
    
    height: 45px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card h2{
    font-size: 1rem;
    margin: 4px 0;
}

.card p{
    font-size: 0.9rem;
    margin: 4px 0;
}

.card:hover{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
}

.card img:hover{
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: rgba(48,48,48,0.35) 0px 10px 30px -5px;
}

/* MOBILE */

@media (max-width:768px){

    .card{
        width: 150px;
        height: 290px;

        padding: 5px;
        margin: 4px;
    }

    .card img{
        width: 130px;
        height: 180px;
    }

    .card h1{
        font-size: 0.5rem;
        height: 30px;
        margin: 2px 0;
    }

    .card h2{
        font-size: 0.8rem;
    }

    .card p{
        font-size: 0.7rem;
    }

    .card img:hover{
        transform: none;
    }
}
.section{
 

    
    min-width: 40%;
    max-width: 100%;
    min-height: fit-content;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 2rem;
    font-family: monospace;
    transition: 0.3s ease;
   
    background-repeat: no-repeat;
    background-size:cover;
    
}
.section{
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.mobileAd{
    width:100%;
    margin:0;
    padding:0;
}

.section{
    width:100% !important;
    max-width:100% !important;
    margin:0 !important;
}
.section h2{
    
    color: white;
    border: 1px solid;
    

}
  

.section:hover{
    max-width: 75%;
    font-size: 2.5rem;
    cursor: pointer;
   transform: translateY(-2%);
 box-shadow: rgba(48, 48, 48, 0.468) 0px 13px 47px -5px, rgba(158, 151, 92, 0.458) 0px 8px 16px -8px;
}

.mainDiv{
    text-align: center;
  
    

}
.mainDiv h1{
    font-family: monospace;
    font-size: 2rem;
    font-weight: bolder;
}
.mainDiv h3{
    font-family: monospace;
    color:gray;
    margin-bottom: 900px;
}
.productGrid{
    display: flex;
   
    justify-content: center;
    align-items: center;
}
.dltbtn{
    border: none;
    background-color: rgba(255, 0, 0, 0.841);
    color: white;
    border-radius: 10px;
    width: 90px;
    transition: 0.3s ease;
    height: 20px;
    margin: 10px;
}
.dltbtn:hover{
    width: 110px;
    height: 30px;

}

.homebtn{

   width: 42px;
  height: 42px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  cursor: pointer;

  margin: 0;
  padding: 0;
  background-size: cover;
  border: none;
  height: 80px;
  width: 80px;
  
 
  cursor: pointer;
 
  background-color: transparent;
  transition: 0.3s ease;
}
.homebtn:hover{
  height: 35px;
  width: 35px;
}



@media (max-width:768px){

  .searchbox{
    gap: 8px;
    padding: 10px;
  }

  .searchinput{
    width: 100%;
    max-width: 250px;
  }

  .searchbtn,
  .usernameBtn{
    min-width: 100px;
    font-size: 14px;
  }

 
}




.productview{
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  
  font-family: monospace;
  font-weight: bolder;
}
.productview h1{
  font-size: 1.6rem;
}
.productview img {
  width: 200px;
  height: 350px; /* Set fixed height */
  object-fit: cover; /* This ensures aspect ratio and no distortion */
  border: 2px solid black;
  margin: 15px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  
}
.productview img:hover{
  width: 100%;
  max-width: 400px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.49) 5px 10px 25px;

}
.productview img:focus{
  width: 100%;
  max-width: 400px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.49) 5px 10px 25px;
}
.productview p{
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.763);
}
.productview h2{
  font-size: 1.5rem;
  
}
.productimg{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.productview hr{
  width: 50%;
}
.productbtns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}
.productbtns button{
  width: 20%;
}
.about{
  display: flex;
  font-family: monospace;
  font-size: 1.5rem;
  padding: 10px
}
.about img{
  width: 100%;
  height:100%;
  object-fit:cover;
  border-radius: 10px;
}
.movingAd{
   
    background-size: cover;
    object-fit: cover;
    color: white;
    font-family: monospace;
    font-size: .8rem;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.details{
  font-family: monospace;
  text-align: center;
  padding: 25px;
  margin-top:100px
  
}.smallAd{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  
  padding: 20px;
  margin: 20px;
}



@media (max-width: 768px) {
  .loginform {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
  }

  .searchinput {
    width: 70%;
    padding: 10px;
    font-size: 1rem;
  }
  
  .searchbox{
    width: 100%;
    margin: 0;
    padding: 5px;
  }
  .searchbtn,
  .usernameBtn {
    width: 30%;
    
    min-width: unset;
    font-size: 1rem;
  }

  .productGrid {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
    margin: 10px 0;
  }

  .section {
    max-width: 100%;
    font-size: .7em;
    
    min-width: none;
    
    
  }
  .banner h1{
    font-size: 1.5rem;
  }
  .banner h3{
    font-size: 1rem;
    background-color: #00000025;
  }

  .section:hover {
    font-size: .85em;
    transform: none;
    box-shadow: none;
  }

  .productview img {
    width: 40%;
    height: auto;
    transition: 0.3s ease;
  }
  .productview img:hover
  {
    width: 52%;
    height: auto;

  }
.productview img:focus
  {
    width: 52%;
    height: auto;

  }
  .productbtns {
    flex-direction: column;
    gap: 10px;
    padding-right: 0;
  }

  .productbtns button {
    width: 100%;
  }

  .about {
    flex-direction: column;
  }

  .smallAd {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .mainDiv h1{
    font-size: 1rem;
  }
  .mainDiv h3{
    font-size: .5rem;
  }
}
body, html {
  overflow-x: hidden;
}


.searchbox{
  position:relative;

  display:flex;
  
  align-items:center;
  justify-content:space-between;

  width:100%;
  padding:15px 25px;

  background-color:rgba(241,238,238,0.208);
  border:2px solid rgba(0,0,0,0.042);
  border-radius:10px;

  box-sizing:border-box;
}

.searchbox > div:first-child{
  display:flex;
  align-items:center;
  gap:8px;
}

.searchinput{
  width:180px;
  height:30px;
  margin:0;
  opacity: 80%;
}

.realsearchbtn{
  width: 25px;
  height: 25px;
  opacity: 80%;
}

.homebtn{
  position:absolute;

  left:50%;
  top:50%;

  transform:translate(-50%,-50%);

  width:90px;
  height:90px;

  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;

  border:none;
  background-color:transparent;

  cursor:pointer;
}

.searchbtn,
.usernameBtn{
  min-width:120px;
  height: 40px;
  margin:0;
  opacity: 80%;
}

@media(max-width:768px){

  .searchbox{
    display:flex;
    flex-direction:row;

    align-items:center;
    gap:8px;
    padding:10px;
  }

  .homebtn{
    position:static;
    transform:none;
    width:80px;
    height:80px;
    padding: 0px;
  }

  .searchbox > div:first-child{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:auto;
    gap:4px;
  }

  .searchinput{
    width:60px;
    height:20px;
    margin:0;
  }

  .realsearchbtn{
    width:20px;
    height:20px;
    margin:0;
    flex-shrink:0;
  }

  .searchbtn,
  .usernameBtn{
    width:80px;
    min-width:80px;
    height:35px;
    margin:0;
    font-size:12px;
  }
}